body {
    text-align: center;
    background-color: #272727;
    
}

.headerContainer{
    margin: 2rem auto;
}

.headerContainer h1{
    font-size: 4em;
    color: white;
    text-shadow: 10px 10px 10px pink;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headerContainer h3{
    font-size: 2em;
    color: whitesmoke;
    text-shadow: 5px 5px 5px thistle;
    margin-bottom: 5rem;
}

.lolliesContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-bottom: 5rem;
}
.lollipop{
    width: 10vmax;
    height: 20vmax;
}
.createLollyButton{
    font-size: 1.5em;
    background-color: #272727 ;
    border-style: solid;
    border-radius: 20em;
    border-color: violet;
    padding: 1rem;
    color: white;
    margin-bottom: 2rem;
}
.createLollyButton:hover{
    background-color: rgba(240, 47, 159, 0.4);
}

.createLollyButton:focus {
    border: none;
    outline: none;
}

.LollyCreaterColorContainer{
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.editorRoot{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
   
}
.colorSelectorContainer{
    
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    height: 75%;
    margin-top: 1rem;
    
    
}

.colorPickerLabel {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 20px;
    overflow: hidden;


}
.colorPicker {
    width: 80px;
    height: 80px;
    margin-top: -10px;
    margin-left: -10px;
}

.lollipopEditor{

    height: 100%;
    margin-right: 1rem;
    margin-left: 1rem;
}

.formContainer{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
    flex-grow: 0.2;
    border-style: solid;
    border-color: violet;
    border-width: 3;
}

.formLabel{
    font-size: 1.4rem;
    color: white;
    text-align: left;
    text-shadow: 3px 4px 4px pink;
    margin-bottom: 1rem;
}

.inputText{
    height: 2rem;
    margin-bottom: 1rem;
    border-style: solid;
    border-color: pink;
    border-width: 2;
}

.inputTextBox{

    margin-bottom: 1rem;
    border-style: solid;
    border-color: pink;
    border-width: 2;

}

.submitButton{
    
    width: 10rem;
    margin: 0 auto;
    margin-top: 2rem;
    font-size: 1.4rem;
    border-radius: 4rem;
    border-color: pink;
}
.submitButton:hover{
    background-color: rgba(240, 47, 159, 0.4);
}

.formErrors{
    color: red;
    text-align: left;
    margin-bottom: 0.4rem;
}